html {
	background: url("clouds.jpg");
}

#dark-background {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("clouds-smooth.jpg");
	position: fixed;
	opacity: 0;
	z-index: -1;
}

.live {
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 13%;
	margin-bottom: 0;
	
	cursor: pointer;
	
	left: 0;
	text-align: center;
	font-size: 17em;
	
	text-shadow: white 1px 1px 26px;
}

#info {
	bottom: 0;
	text-align: center;
}

#contacts {
	margin: auto;
	width: 20%;
	background: #fafafa;
	border-radius: 1em 1em 4em 1em;
	text-align: left;
	height: 60px;
	border: solid 1px #2C2;
	
	margin-bottom: 10px;
	
	min-width: 240px;
}

#logo {
	text-align: center;
	font-family: 'Oleo Script', cursive;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	
	font-size: 2em;
	text-shadow: 0.05em 0.05em 0.07em black;
	
	color: white;
	background: #DDD;
	background: #EFD;
	color: #8A5;
	width: 100%;
	border: 1px #777 solid;
	
	position: fixed;
	bottom: 0;
	left: 0;
}

.sphere {
	border-radius: 20px 20px 20px 20px;
	margin-left: 5px;
	background: #8c7;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 30px;
}

.sphere.s1 {
	right: 30px;
}
.sphere.s2 {
	right: 60px;
}
.sphere.s3 {
	right: 90px;
}