html {
	background: url("grey.jpg");
}

#top .live {
	background: url("LIVE_TOP.png");
	width: 320px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 15%;
	margin-bottom: 0;
	
	cursor: pointer;
}
#bottom .live {
	background: url("LIVE_BOTTOM.png");
	width: 320px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	
	top: 0;
	margin-top: 0;
	
	
	margin-bottom: 0;
}

#bottom {
	background: url("light.png");
	min-height: 20%;
	bottom: 0;
	text-align: center;
}

#contacts {
	margin: auto;
	width: 20%;
	height: 15%;
	background: #fafafa;
	border-radius: 1em 1em 4em 1em;
	text-align: left;
	min-height: 60px;
	border: solid 1px #2C2;
}

#logo {
	margin: auto;
	width: 20%;
	text-align: center;
}

.sphere {
	border-radius: 20px 20px 20px 20px;
	margin-left: 5px;
	background: #8c7;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 30px;
}

.sphere.s1 {
	right: 30px;
}
.sphere.s2 {
	right: 60px;
}
.sphere.s3 {
	right: 90px;
}