!!! 5
html
  head
    link(type='text/css', rel='stylesheet', href='/site.css')
    title Hello
  body
    div
      form(action='/register', method='post')
        div
          input(type='text', name='login')
          br
          input(type='text', name='pass')
        input#poster(type='submit', value='register')
        
